
body {
    background-color: #CACAAA;
    height: 100vh;
}
header{
    display: flex;
    min-height: 70px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
}