.color {
    background-color: blanchedalmond;
}

.imagen_fondo{
    background-image: url(images/IMG1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backgroung-size: cover;
    height: 50em;
}